.brand-text {
  color: #7bbfff;
  font-size: 28px;
}

.brand-image {
  width: 45px;
  height: auto;
  padding-top: 5px;
}
.user-panel:hover {
  background-color: rgba(5, 114, 255, 0.2);
  border-radius: 5px;
}
