<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- common heading file -->
    <head th:replace="~{head :: headFragment}"> </head>

    <script src="resources/controller_js/dashboard.js"></script>
  </head>
  <body class="sidebar-mini layout-fixed">
    <div class="container-fluid wrapper ps-2">
      <!-- Navbar -->
      <nav th:replace="~{navbar :: navbarFragment}"></nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside th:replace="~{sidebar :: sidebarFragment}"></aside>
      <!-- /.Main Sidebar Container -->

      <div class="content-wrapper ps-2 pe-2">
        <!-- title area start  -->
        <div class="row p-3">
          <div class="col-12 heading-area">
            <h2>
              <img
                src="resources/icons/dashboard-icon2.png"
                alt="porder-icon"
                class="me-3"
                style="height: 50px; width: 50px"
              />Dashboard
            </h2>
          </div>
        </div>
        <!-- title area end  -->
        <div class="row">
          <!-- customer/sales/invoices -->
          <div class="col-md-9">
            <div class="row">
              <!-- customers -->
              <dvi class="col-md-3">
                <a class="dashoard-tab" href="/user">
                  <div class="card dashboard-card">
                    <div class="card-body">
                      <h5 class="card-title">Customers</h5>
                      <p class="card-text" id="customerCount"></p>
                      <p class="secondary-msg">Since last month</p>
                      <i class="fa-solid fa-arrow-right top-right-icon"></i>
                    </div>
                  </div>
                </a>
              </dvi>
              <!-- sales -->
              <dvi class="col-md-3">
                <div class="card dashboard-card">
                  <div class="card-body">
                    <h5 class="card-title">Sales</h5>
                    <p class="card-text" id="completeInvoiceTotal"></p>
                    <p class="secondary-msg">Since last month</p>
                    <i class="fa-solid fa-arrow-right top-right-icon"></i>
                  </div>
                </div>
              </dvi>
              <!-- Total invoices -->
              <dvi class="col-md-3">
                <div class="card dashboard-card">
                  <div class="card-body">
                    <h5 class="card-title">Complete Invoices</h5>
                    <p class="card-text" id="completeInvoiceCount"></p>
                    <p class="secondary-msg">Since last month</p>
                    <i class="fa-solid fa-arrow-right top-right-icon"></i>
                  </div>
                </div>
              </dvi>
              <!-- pending invoices -->
              <dvi class="col-md-3">
                <div class="card dashboard-card">
                  <div class="card-body">
                    <h5 class="card-title">Pending Invoices</h5>
                    <p class="card-text" id="pendingInvoiceCount"></p>
                    <p class="secondary-msg">Today</p>
                    <i class="fa-solid fa-arrow-right top-right-icon"></i>
                  </div>
                </div>
              </dvi>
            </div>
            <!-- supplier/purchase orders -->
            <div class="row">
              <!-- active suppliers -->
              <dvi class="col-md-3">
                <a class="dashoard-tab" href="/user">
                  <div class="card dashboard-card">
                    <div class="card-body">
                      <h5 class="card-title">Active Suppliers</h5>
                      <p class="card-text" id="supplierCount"></p>
                      <i class="fa-solid fa-arrow-right top-right-icon"></i>
                    </div>
                  </div>
                </a>
              </dvi>
              <!-- pending purchase orders -->
              <dvi class="col-md-4">
                <a class="dashoard-tab" href="/user">
                  <div class="card dashboard-card">
                    <div class="card-body">
                      <h5 class="card-title">Pending Purchase Orders</h5>
                      <p class="card-text" id="pendingPOCount"></p>
                      <i class="fa-solid fa-arrow-right top-right-icon"></i>
                    </div>
                  </div>
                </a>
              </dvi>
            </div>
            <div class="row mt-4" style="padding: 0 7px">
              <h4
                style="
                  font-weight: bold;
                  font-style: italic;
                  font-size: 20px;
                  color: #235ebd;
                "
              >
                Top Selling Products
                <span
                  style="
                    font-style: italic;
                    color: #81818194;
                    font-size: 14px;
                    padding-left: 5px;
                  "
                  >since last 03 months</span
                >
              </h4>
              <table
                class="table table-striped table-hover pt-3 mb-3"
                id="bankDetailsTable"
              >
                <thead class="table-dark">
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Sub-Category</th>
                    <th>Qty</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider" style="font-weight: normal">
                  <tr>
                    <th>1</th>
                    <th>Orange LED Bulb 9W</th>
                    <th>Orange</th>
                    <th>Bulb</th>
                    <th>LED</th>
                    <th>452</th>
                    <th>Rs.433,920</th>
                    <!-- 960 -->
                  </tr>
                  <tr>
                    <th>2</th>
                    <th>Tokyo Super Ordinary Portland Cement 50Kg</th>
                    <th>Tokyo Super</th>
                    <th>Building Materials</th>
                    <th>Cement</th>
                    <th>369</th>
                    <th>Rs.752,760</th>
                    <!-- 2040 -->
                  </tr>
                  <tr>
                    <th>3</th>
                    <th>Orange LED Bulb 12W</th>
                    <th>Orange</th>
                    <th>Bulb</th>
                    <th>LED</th>
                    <th>342</th>
                    <th>Rs.408,348</th>
                    <!-- 1194 -->
                  </tr>
                  <tr>
                    <th>4</th>
                    <th>TOA Spray Black</th>
                    <th>TOA</th>
                    <th>Paint</th>
                    <th>Spray Paint</th>
                    <th>184</th>
                    <th>Rs.266,800</th>
                    <!-- 1450 -->
                  </tr>
                  <tr>
                    <th>5</th>
                    <th>Nippolac Emulsion Brilliant White</th>
                    <th>Nippolac</th>
                    <th>Paint</th>
                    <th>Emulsion</th>
                    <th>81</th>
                    <th>Rs.636,660</th>
                    <!-- 7860 -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- notifications -->
          <div class="col-md-3">
            <div class="card notifications-card">
              <div class="card-body">
                <h5 class="card-title">
                  Notifications
                  <i class="fa-solid fa-bell" style="margin-left: 5px"></i>
                </h5>
                <p class="card-text">
                  <span style="color: red; font-weight: bold"
                    >low stock :
                  </span>
                  P23000005 Orange Square Plug
                </p>
                <p class="card-text">
                  <span style="color: red; font-weight: bold"
                    >low stock :
                  </span>
                  P23000013 Orange Warm White 20W LED Panel
                </p>
                <p class="card-text">
                  <span style="color: red; font-weight: bold"
                    >low stock :
                  </span>
                  P23000068 Asian Paints Golden Brown 1L
                </p>
                <p class="card-text">
                  <span style="color: red; font-weight: bold">expired : </span>
                  PO202407009 - purchase order required date expired.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- content area start -->
        <div class="accordion" id="accordionSection"></div>
        <!-- content area end -->
      </div>
    </div>
    <!-- Alert Box -->
    <div th:replace="~{alertbox :: alertFragment}"></div>
  </body>
</html>
