<head th:fragment="headFragment">
  <title th:text="${title}"></title>

  <!-- link bootstrap css -->
  <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css" />
  <!-- link bootstrap js -->
  <script src="resources/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- fontawsome -->
  <link rel="stylesheet" href="resources/fontawesome-6.4.2/css/all.css" />

  <!-- link datatable css file -->
  <link
    rel="stylesheet"
    href="resources/datatables_1.13.7/datatables.min.css"
  />

  <!-- Theme style -->
  <link
    rel="stylesheet"
    href="resources/navbar_template/css/adminlte.min.css"
  />

  <!-- custome CSS files -->
  <link rel="stylesheet" href="resources/css/common.css" />

  <!-- navbar custome css -->
  <link rel="stylesheet" href="resources/css/navbar.css" />

  <!-- link jquery js file -->
  <script src="resources/js/jquery.js"></script>

  <!-- link datatable js file -->
  <script src="resources/datatables_1.13.7/datatables.min.js"></script>

  <!-- link tablefunction js file -->
  <script src="resources/js/table_functions.js"></script>

  <!-- custome script files  -->
  <script src="resources/js/common.js"></script>

  <!-- link  js file -->
  <script src="resources/js/validation.js"></script>

  <!-- AdminLTE App -->
  <script src="resources/navbar_template/js/adminlte.js"></script>
</head>
