<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- common heading file -->
    <head th:replace="~{head :: headFragment}"> </head>

    <script src="resources/controller_js/invoice.js"></script>
  </head>
  <body class="sidebar-mini layout-fixed">
    <div class="container-fluid wrapper ps-2">
      <!-- Navbar -->
      <nav th:replace="~{navbar :: navbarFragment}"></nav>
      <!-- /.navbar -->

      <!-- user profile edit -->
      <nav th:replace="~{navbar :: settingmodel}"></nav>
      <!-- /.user profile edit -->

      <!-- Main Sidebar Container -->
      <aside th:replace="~{sidebar :: sidebarFragment}"></aside>
      <!-- /.Main Sidebar Container -->

      <div class="content-wrapper ps-2 pe-2">
        <!-- title area start  -->
        <div class="row p-3">
          <div class="col-12 heading-area">
            <h2>
              <i class="fa-solid"
                ><img
                  src="resources/icons/invoice-icon2.png"
                  alt="invoice-icon"
                  style="
                    height: 40px;
                    width: 40px;
                    padding-bottom: 4px;
                    margin-right: 10px;
                  " /></i
              >Invoice Management
            </h2>
          </div>
        </div>
        <!-- title area end  -->

        <!-- content area start -->
        <div class="accordion" id="accordionSection">
          <!-- add new form area start -->
          <div class="accordion-item" id="addAccordion">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed fw-bold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#addNewSection"
                aria-expanded="false"
                aria-controls="addNewSection"
                id="addNewButton"
              >
                Add New Invoice
              </button>
            </h2>
            <div
              id="addNewSection"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionSection"
            >
              <div class="accordion-body">
                <div class="card card-body">
                  <form onsubmit="return false">
                    <!-- * required mark -->
                    <div class="row">
                      <div class="col-12 text-end">
                        <span class="fw-bold"
                          ><span class="text-danger">* </span>Required</span
                        >
                      </div>
                    </div>

                    <!-- start customer details area -->
                    <p>
                      <b><i>Customer Details</i></b>
                    </p>
                    <!-- customer contact/name -->
                    <div class="row mt-2">
                      <!-- customer contact -->
                      <div class="col-md-4">
                        <label
                          for="textCustomerContact"
                          class="form-label fw-bold"
                        >
                          Contact No. :
                          <span
                            class="text-danger d-none"
                            id="contactRegisterCheck"
                            ><i>not registerd</i></span
                          >
                        </label>
                        <div>
                          <input
                            type="text"
                            placeholder="Enter Contact No"
                            class="form-control"
                            id="textCustomerContact"
                          />
                        </div>
                      </div>
                      <!-- customer name -->
                      <div class="col-md-4">
                        <label for="textCustomerName" class="form-label fw-bold"
                          >Customer Name :
                        </label>
                        <input
                          type="text"
                          placeholder="Enter Customer Name"
                          class="form-control"
                          id="textCustomerName"
                        />
                      </div>
                      <div class="col-md-1"></div>
                      <!-- invoice status  -->
                      <div class="col-md-3" id="statusDiv">
                        <label for="selectStatus" class="form-label fw-bold">
                          Invoice Status : <span class="text-danger"> * </span>
                        </label>
                        <select
                          id="selectStatus"
                          class="form-select me-2"
                          required
                          disabled
                        >
                          <option value="" selected disabled>
                            Select Status
                          </option>
                        </select>
                      </div>
                    </div>
                    <!-- end customer details area -->
                    <hr class="seperator" />
                    <!-- start inner form for add products area -->
                    <p>
                      <b><i>Invoice Details</i></b>
                    </p>
                    <div class="row mt-2">
                      <!-- required date -->
                      <div class="col-md-3">
                        <label for="dateInvoiceDate" class="form-label fw-bold">
                          Invoice Date :
                        </label>
                        <input
                          type="date"
                          id="dateInvoiceDate"
                          class="form-control"
                          required
                          disabled
                        />
                      </div>
                      <!-- total amount -->
                      <div class="col-md-3 ml-auto">
                        <label for="textTotalAmount" class="form-label fw-bold">
                          Total Amount (Rs.):
                        </label>
                        <input
                          type="text"
                          placeholder=""
                          class="form-control"
                          id="textTotalAmount"
                          required
                          disabled
                        />
                      </div>
                    </div>
                    <hr class="seperator" />

                    <!-- inner form -->
                    <div class="row mt-2">
                      <!-- product name/ barcode -->
                      <div class="col-md-5">
                        <label for="textProduct" class="form-label fw-bold">
                          Product Search:
                          <span class="text-danger"> * </span>
                        </label>
                        <input
                          type="text"
                          placeholder="Product Name or Barcode"
                          class="form-control"
                          id="textProduct"
                          list="dataListProducts"
                          required
                        />
                        <datalist id="dataListProducts"></datalist>
                      </div>

                      <!-- sell price -->
                      <div class="col-md-2">
                        <label for="textSellPrice" class="form-label fw-bold">
                          Sell Price (Rs.):
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          id="textSellPrice"
                          required
                          disabled
                        />
                      </div>

                      <!-- qty -->
                      <div class="col-md-1">
                        <label for="textQty" class="form-label fw-bold">
                          Qty : <span class="text-danger"> * </span>
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          id="textQty"
                          required
                        />
                        <span
                          id="textUnitType"
                          style="
                            font-size: 14px;
                            font-style: italic;
                            font-weight: bold;
                          "
                        ></span>
                      </div>

                      <!-- line amount -->
                      <div class="col-md-2">
                        <label for="textLineAmount" class="form-label fw-bold">
                          Total (Rs):
                        </label>
                        <input
                          type="text"
                          placeholder=""
                          class="form-control"
                          id="textLineAmount"
                          required
                          disabled
                          style="border: none"
                        />
                      </div>

                      <!-- add product details button -->
                      <div class="col-md-1">
                        <label
                          for="btnAddProduct"
                          class="form-label fw-bold"
                          style="color: rgba(255, 255, 255, 0)"
                          >..</label
                        >
                        <button
                          type="button"
                          class="btn btn-plus"
                          id="btnAddProduct"
                          style="display: block"
                        >
                          <i
                            class="fa-solid fa-plus me-2"
                            style="margin-left: 8px"
                          ></i>
                        </button>
                      </div>
                      <!-- reset button -->
                      <div class="col-md-1">
                        <label
                          for="btnProductReset"
                          class="form-label fw-bold"
                          style="color: #d8d8d834"
                        >
                          .
                        </label>
                        <br />
                        <button
                          class="btn btn-outline-danger"
                          type="button"
                          id="btnProductReset"
                        >
                          <i class="fa-solid fa-xmark"></i>
                        </button>
                      </div>
                    </div>

                    <!-- inner table -->
                    <div class="row mt-4">
                      <table
                        class="table table-hover pt-3 mb-3"
                        id="invoiceProductsTable"
                      >
                        <thead class="table-dark">
                          <tr>
                            <th>#</th>
                            <th>Product</th>
                            <th>Sell Price</th>
                            <th>Qty.</th>
                            <th>Total</th>
                            <th style="width: 100px; text-align: right">
                              Modify
                            </th>
                          </tr>
                        </thead>
                        <tbody class="table-group-divider"></tbody>
                      </table>
                    </div>
                    <!-- item count -->
                    <div class="row mt-4">
                      <div class="col-md-2 ms-auto">
                        <label for="textItemCount" class="form-label fw-bold">
                          Item Count:
                        </label>
                        <input
                          type="text"
                          placeholder=""
                          class="form-control"
                          id="textItemCount"
                          required
                          disabled
                        />
                      </div>
                    </div>
                    <!-- buttons -->
                    <div class="row mt-4 justify-content-end">
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-clear"
                          id="btnReset"
                        >
                          <i class="fa-solid fa-recycle me-2"></i>Clear
                        </button>
                      </div>
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-update"
                          id="btnUpdate"
                        >
                          <i class="fa-solid fa-gears me-2"></i>Update
                        </button>
                      </div>
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-add"
                          id="btnAdd"
                        >
                          <i class="fa-solid fa-square-plus me-2"></i>Add
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- add new form area end -->

          <!-- view all table area start -->
          <div class="accordion-item" id="viewAccordion">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed fw-bold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#viewAllSection"
                aria-expanded="false"
                aria-controls="viewAllSection"
                id="viewAllButton"
              >
                View All Invoices
              </button>
            </h2>
            <div
              id="viewAllSection"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionSection"
            >
              <div class="accordion-body">
                <div class="card card-body p-2">
                  <div class="row mt-2 mb-4">
                    <!-- required date -->
                    <div class="col-md-3">
                      <label for="dateFromDate" class="form-label fw-bold">
                        From Date :
                      </label>
                      <input
                        type="date"
                        id="dateFromDate"
                        class="form-control"
                      />
                    </div>
                    <div class="col-md-3">
                      <label for="dateToDate" class="form-label fw-bold">
                        To Date :
                      </label>
                      <input type="date" id="dateToDate" class="form-control" />
                    </div>
                    <!-- search button -->
                    <div class="col-md-1">
                      <label
                        for="btnSearch"
                        class="form-label fw-bold"
                        style="color: #d8d8d834"
                      >
                        .
                      </label>
                      <br />
                      <button class="btn btn-plus" type="button" id="btnSearch">
                        <i class="fa-solid fa-magnifying-glass"></i>
                      </button>
                    </div>
                  </div>

                  <table class="table table-hover pt-3 mb-3" id="invoiceTable">
                    <thead class="table-dark">
                      <tr>
                        <th>#</th>
                        <th>Invoice ID</th>
                        <th>Customer</th>
                        <th>Item Count</th>
                        <th>Date</th>
                        <th>Grand Total</th>
                        <th>Paid</th>
                        <th>Status</th>
                        <th style="width: 75px; text-align: right">Modify</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider"></tbody>
                  </table>
                </div>
                <!-- print full table button -->
                <div class="row mt-2">
                  <button
                    type="button"
                    id="btnPrintFullTable"
                    class="btn btn-info col-md-2 ml-auto me-2"
                  >
                    <i class="fa-solid fa-print"></i>
                    Print All
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- view all table area end -->
        </div>
        <!-- content area end -->
      </div>
      <!-- view record model start -->
      <div class="modal" id="modelDetailedView">
        <div class="modal-dialog">
          <div class="modal-content" style="margin: 5px">
            <div class="modal-header">
              <h2 class="fw-bold">View Invoice Details</h2>
              <button class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <table id="printTable" class="table table-striped">
                <tr>
                  <th>Invoice ID</th>
                  <td colspan="3" id="tdInvoiceId"></td>
                </tr>
                <tr>
                  <th>Customer</th>
                  <td colspan="3" id="tdCustomer"></td>
                </tr>
                <tr>
                  <th>Item Count</th>
                  <td colspan="3" id="tdItemCount"></td>
                </tr>
                <tr>
                  <th>Invoiced Date</th>
                  <td colspan="3" id="tdInvoicedDate"></td>
                </tr>
                <tr>
                  <th>Invoice Type</th>
                  <td colspan="3" id="tdInvoiceType"></td>
                </tr>
                <tr>
                  <th>Total</th>
                  <td colspan="3" id="tdTotal"></td>
                </tr>
                <tr>
                  <th>Discount</th>
                  <td colspan="3" id="tdDiscount"></td>
                </tr>
                <tr>
                  <th>Grand Total</th>
                  <td colspan="3" id="tdGrandTotal"></td>
                </tr>
                <tr>
                  <th>Paid Amount</th>
                  <td colspan="3" id="tdPaid"></td>
                </tr>
                <tr>
                  <th>Due Amount</th>
                  <td colspan="3" id="tdBalance"></td>
                </tr>
                <tr>
                  <th>Status</th>
                  <td colspan="3" id="tdStatus"></td>
                </tr>
                <tr>
                  <th colspan="4"><i>Product List</i></th>
                </tr>
                <tr>
                  <th>Product</th>
                  <th>Sell Price</th>
                  <th>Qty</th>
                  <th>Line Amount</th>
                </tr>
              </table>
            </div>
            <dv class="modal-footer">
              <button id="btnViewPrint" class="btn btn-info">
                <i class="fa-solid fa-print"></i> Print
              </button>
            </dv>
          </div>
        </div>
      </div>
      <!-- view record model end -->
    </div>
    <!-- Alert Box -->
    <div th:replace="~{alertbox :: alertFragment}"></div>
  </body>
</html>
