<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h2>Login Form</h2>

    <form action="/login" method="post">
      <input
        type="text"
        name="username"
        id="textUserName"
        required
        placeholder="Enter username"
      />
      <br />
      <input
        type="password"
        name="password"
        id="textPassword"
        required
        placeholder="Enter password"
      />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
