<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- link bootstrap css -->
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css" />
    <!-- link bootstrap js -->
    <script src="resources/bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="resources/css/login.css" />

    <!-- <link
      rel="stylesheet"
      href="../static/resources/bootstrap/css/bootstrap.min.css"
    />

    <script src="../static/resources/bootstrap/js/bootstrap.bundle.js"></script>

    <link rel="stylesheet" href="../static/resources/css/login.css" /> -->

    <title>Jenaka Hardware : Login</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="row title-area">
            <h4 class="col title">
              <span class="shop_name">JENAKA</span> Hardware
            </h4>
          </div>
          <div class="row justify-content-center login_area">
            <div class="col-2"></div>
            <div class="col">
              <div class="card">
                <h5 class="card-title text-center">Welcome!</h5>
                <form action="/login" method="post">
                  <div class="form-group pt-3">
                    <label for="textUserName" class="form-label">
                      Username :
                    </label>
                    <input
                      type="text"
                      placeholder="Enter Username"
                      class="form-control mb-2"
                      name="username"
                      id="textUserName"
                      required
                    />
                  </div>
                  <div class="form-group pt-3">
                    <label for="textPassword" class="form-label">
                      Password :
                    </label>
                    <input
                      type="password"
                      placeholder="Enter Password"
                      class="form-control mb-2"
                      name="password"
                      id="textPassword"
                      required
                    />
                  </div>
                  <div class="row justify-content-center pt-5 ps-3 pe-3">
                    <button
                      type="submit"
                      class="col-md-10 btn btn-info fw-bold"
                    >
                      Login
                    </button>
                  </div>
                </form>
                <!-- check error param with thymeleaf -->
                <div th:if="${param.error}" style="color: red">
                  Invalid Username or Password
                </div>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </body>
</html>
