<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- common heading file -->
    <head th:replace="~{head :: headFragment}"> </head>

    <script src="resources/controller_js/paymentcustomer.js"></script>
  </head>
  <body class="sidebar-mini layout-fixed">
    <div class="container-fluid wrapper ps-2">
      <!-- Navbar -->
      <nav th:replace="~{navbar :: navbarFragment}"></nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside th:replace="~{sidebar :: sidebarFragment}"></aside>
      <!-- /.Main Sidebar Container -->

      <div class="content-wrapper ps-2 pe-2">
        <!-- title area start  -->
        <div class="row p-3">
          <div class="col-12 heading-area">
            <h2>
              <i class="fa-solid"
                ><img
                  src="resources/icons/customer-icon2.png"
                  alt="customer-icon"
                  style="
                    height: 40px;
                    width: 40px;
                    padding-bottom: 4px;
                    margin-right: 10px;
                  " /></i
              >Customer Payment Management
            </h2>
          </div>
        </div>
        <!-- title area end  -->

        <!-- content area start -->
        <div class="accordion" id="accordionSection">
          <!-- add new form area start -->
          <div class="accordion-item" id="addAccordion">
            <h2 class="accordion-header">
              <!-- data-bs-toggle="collapse" -->
              <button
                class="accordion-button collapsed fw-bold"
                type="button"
                data-bs-target="#addNewSection"
                aria-expanded="false"
                aria-controls="addNewSection"
                id="addNewButton"
              >
                Add New Customer Payment
              </button>
            </h2>
            <div
              id="addNewSection"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionSection"
            >
              <div class="accordion-body">
                <div class="card card-body">
                  <form onsubmit="return false">
                    <!-- * required mark -->
                    <div class="row">
                      <div class="col-md-12 text-end">
                        <span class="fw-bold"
                          ><span class="text-danger">* </span>Required</span
                        >
                      </div>
                    </div>
                    <!-- invoice id -->
                    <div class="row mt-2">
                      <div class="col-md-2"></div>
                      <div class="col-md-3">
                        <label for="textCustomer" class="form-label fw-bold"
                          >Select Customer :<span class="text-danger"> * </span>
                        </label>
                      </div>
                      <div class="col-md-4">
                        <input
                          type="text"
                          placeholder="Enter Invoice ID"
                          class="form-control"
                          id="textCustomer"
                          list="dataListCustomers"
                          required
                        />
                        <datalist id="dataListCustomers"></datalist>
                      </div>
                    </div>

                    <!-- customer name/contact -->
                    <div class="row mt-3">
                      <div class="col-md-2"></div>
                      <div class="col-md-3">
                        <label class="form-label fw-bold" for="textCustomer">
                          Customer :
                        </label>
                      </div>
                      <div class="col-md-4">
                        <input
                          type="text"
                          placeholder=""
                          class="form-control"
                          id="textCustomer"
                          required
                          disabled
                        />
                      </div>
                    </div>

                    <!-- total amount -->
                    <div class="row mt-2">
                      <div class="col-md-2"></div>
                      <div class="col-md-3">
                        <label for="textTotalAmount" class="form-label fw-bold">
                          Total Amount (Rs.):
                        </label>
                      </div>
                      <div class="col-md-2">
                        <input
                          type="text"
                          placeholder=""
                          class="form-control text-end"
                          id="textTotalAmount"
                          required
                          disabled
                        />
                      </div>
                    </div>

                    <!-- discount amount -->
                    <div class="row mt-2">
                      <div class="col-md-2"></div>
                      <div class="col-md-3">
                        <label for="textDiscount" class="form-label fw-bold">
                          Discount (Rs.):
                        </label>
                      </div>
                      <div class="col-md-2">
                        <input
                          type="text"
                          class="form-control text-end"
                          id="textDiscount"
                        />
                      </div>
                      <div class="col-md-1">
                        <div class="form-check form-check-inline pt-2">
                          <input
                            type="checkbox"
                            class="form-check-input"
                            id="discountPrecentageCheck"
                            style="border: 1px solid black"
                          />
                          <label
                            for="discountPrecentageCheck"
                            class="form-check-label fw-bold"
                            >%</label
                          >
                        </div>
                      </div>
                    </div>

                    <!-- grand total -->
                    <div class="row mt-2">
                      <div class="col-md-2"></div>
                      <div class="col-md-3">
                        <label for="textGrandTotal" class="form-label fw-bold">
                          Grand Total (Rs.):
                        </label>
                      </div>
                      <div class="col-md-2">
                        <input
                          type="text"
                          placeholder=""
                          class="form-control text-end"
                          id="textGrandTotal"
                          required
                          disabled
                        />
                      </div>
                    </div>

                    <!-- pay method -->
                    <div class="row mt-3">
                      <div class="col-md-2"></div>
                      <!-- <div class="col-md-3">
                        <p>
                          <b><i>payment method</i></b
                          ><span class="text-danger"> * </span>
                        </p>
                      </div> -->
                      <div class="col-md-3">
                        <label for="textGrandTotal" class="form-label fw-bold">
                          Payment Method :<span class="text-danger"> * </span>
                        </label>
                      </div>
                      <div class="col-md-7" id="divPaymethods"></div>
                    </div>

                    <!-- payment amount -->
                    <div class="row mt-2">
                      <div class="col-md-2"></div>
                      <div class="col-md-3">
                        <label for="textPayment" class="form-label fw-bold">
                          Payment (Rs.):
                        </label>
                      </div>
                      <div class="col-md-2">
                        <input
                          type="text"
                          class="form-control text-end"
                          id="textPayment"
                        />
                      </div>
                      <div class="col-md-3 d-none" id="divCreditSell">
                        <div class="form-check form-check-inline pt-2">
                          <input
                            type="checkbox"
                            class="form-check-input"
                            id="creditSellCheck"
                            style="border: 1px solid black"
                          />
                          <label
                            for="creditSellCheck"
                            class="form-check-label fw-bold"
                            >Credit Sell</label
                          >
                        </div>
                      </div>
                    </div>

                    <!-- balance amount -->
                    <div class="row mt-2">
                      <div class="col-md-2"></div>
                      <div class="col-md-3">
                        <label for="textBalance" class="form-label fw-bold">
                          Balance (Rs.):
                        </label>
                      </div>
                      <div class="col-md-2">
                        <input
                          type="text"
                          class="form-control text-end"
                          id="textBalance"
                          disabled
                        />
                      </div>
                    </div>

                    <!-- buttons -->
                    <div class="row mt-4 justify-content-end">
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-clear"
                          id="btnReset"
                        >
                          <i class="fa-solid fa-recycle me-2"></i>Clear
                        </button>
                      </div>
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-update"
                          id="btnUpdate"
                        >
                          <i class="fa-solid fa-gears me-2"></i>Update Payment
                        </button>
                      </div>
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-add"
                          id="btnAdd"
                        >
                          <i class="fa-solid fa-square-plus me-2"></i>Make
                          Payment
                        </button>
                      </div>
                      <div class="col-md-2"></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- add new form area end -->
        </div>
        <!-- content area end -->
      </div>
    </div>
    <!-- Alert Box -->
    <div th:replace="~{alertbox :: alertFragment}"></div>
  </body>
</html>
