<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- common heading file -->
    <head th:replace="~{head :: headFragment}"> </head>

    <script src="resources/controller_js/paymentsupplier.js"></script>
  </head>
  <body class="sidebar-mini layout-fixed">
    <div class="container-fluid wrapper ps-2">
      <!-- Navbar -->
      <nav th:replace="~{navbar :: navbarFragment}"></nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside th:replace="~{sidebar :: sidebarFragment}"></aside>
      <!-- /.Main Sidebar Container -->

      <div class="content-wrapper ps-2 pe-2">
        <!-- title area start  -->
        <div class="row p-3">
          <div class="col-12 heading-area">
            <h2>
              <i class="fa-solid"
                ><img
                  src="resources/icons/customer-icon2.png"
                  alt="customer-icon"
                  style="
                    height: 40px;
                    width: 40px;
                    padding-bottom: 4px;
                    margin-right: 10px;
                  " /></i
              >Supplier Payment Management
            </h2>
          </div>
        </div>
        <!-- title area end  -->

        <!-- content area start -->
        <div class="accordion" id="accordionSection">
          <!-- add new form area start -->
          <div class="accordion-item" id="addAccordion">
            <h2 class="accordion-header">
              <!-- data-bs-toggle="collapse" -->
              <button
                class="accordion-button collapsed fw-bold"
                type="button"
                data-bs-target="#addNewSection"
                aria-expanded="false"
                aria-controls="addNewSection"
                id="addNewButton"
              >
                Add New Supplier Payment
              </button>
            </h2>
            <div
              id="addNewSection"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionSection"
            >
              <div class="accordion-body">
                <div class="card card-body">
                  <form onsubmit="return false">
                    <!-- * required mark -->
                    <div class="row">
                      <div class="col-md-12 text-end">
                        <span class="fw-bold"
                          ><span class="text-danger">* </span>Required</span
                        >
                      </div>
                    </div>

                    <!-- supplier -->
                    <div class="row mt-2">
                      <div class="col-md-2"></div>
                      <div class="col-md-3">
                        <label for="selectSupplier" class="form-label fw-bold">
                          Supplier : <span class="text-danger"> * </span>
                        </label>
                      </div>
                      <div class="col-md-4">
                        <select
                          id="selectSupplier"
                          class="form-select me-2"
                          required
                        >
                          <option value="" selected disabled>
                            Select Supplier
                          </option>
                        </select>
                      </div>
                    </div>
                    <!-- invoice payment details table -->
                    <div class="row mt-4">
                      <table
                        class="table table-hover pt-3 mb-3"
                        id="incompleteGrnsTable"
                      >
                        <thead class="table-dark">
                          <tr>
                            <th>#</th>
                            <th>GRN ID</th>
                            <th>Grand Total</th>
                            <th>Paid</th>
                            <th>Balance</th>
                          </tr>
                        </thead>
                        <tbody class="table-group-divider"></tbody>
                      </table>
                    </div>

                    <!-- total balance -->
                    <div class="row mt-2">
                      <div class="col-md-2"></div>
                      <div class="col-md-3">
                        <label
                          for="textTotalBalance"
                          class="form-label fw-bold"
                        >
                          Total Balance (Rs.):
                        </label>
                      </div>
                      <div class="col-md-2">
                        <input
                          type="text"
                          class="form-control text-end"
                          id="textTotalBalance"
                          required
                          disabled
                        />
                      </div>
                    </div>

                    <hr class="seperator" />

                    <!-- pay method -->
                    <div class="row mt-3">
                      <div class="col-md-2"></div>
                      <div class="col-md-3">
                        <label for="divPaymethods" class="form-label fw-bold">
                          Payment Method :<span class="text-danger"> * </span>
                        </label>
                      </div>
                      <div class="col-md-7" id="divPaymethods"></div>
                    </div>

                    <!-- payment amount -->
                    <div class="row mt-2">
                      <div class="col-md-2"></div>
                      <div class="col-md-3">
                        <label for="textPayment" class="form-label fw-bold">
                          Payment (Rs.):
                        </label>
                      </div>
                      <div class="col-md-2">
                        <input
                          type="text"
                          class="form-control text-end"
                          id="textPayment"
                        />
                      </div>
                    </div>

                    <!-- balance amount -->
                    <div class="row mt-2">
                      <div class="col-md-2"></div>
                      <div class="col-md-3">
                        <label
                          for="textBalance"
                          class="form-label fw-bold"
                          id="lblBalance"
                        >
                          Balance (Rs.):
                        </label>
                      </div>
                      <div class="col-md-2">
                        <input
                          type="text"
                          class="form-control text-end"
                          id="textBalance"
                          disabled
                        />
                      </div>
                    </div>

                    <!-- buttons -->
                    <div class="row mt-4 justify-content-end">
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-clear"
                          id="btnReset"
                        >
                          <i class="fa-solid fa-recycle me-2"></i>Clear
                        </button>
                      </div>
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-update"
                          id="btnUpdate"
                        >
                          <i class="fa-solid fa-gears me-2"></i>Update Payment
                        </button>
                      </div>
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-add"
                          id="btnAdd"
                        >
                          <i class="fa-solid fa-square-plus me-2"></i>Make
                          Payment
                        </button>
                      </div>
                      <div class="col-md-2"></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- add new form area end -->
        </div>
        <!-- content area end -->
      </div>
    </div>
    <!-- Alert Box -->
    <div th:replace="~{alertbox :: alertFragment}"></div>
  </body>
</html>
