<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- common heading file -->
    <head th:replace="~{head :: headFragment}"> </head>

    <script src="resources/controller_js/product.js"></script>
  </head>
  <body class="sidebar-mini layout-fixed">
    <div class="container-fluid wrapper ps-2">
      <!-- Navbar -->
      <nav th:replace="~{navbar :: navbarFragment}"></nav>
      <!-- /.navbar -->

      <!-- user profile edit -->
      <nav th:replace="~{navbar :: settingmodel}"></nav>
      <!-- /.user profile edit -->

      <!-- Main Sidebar Container -->
      <aside th:replace="~{sidebar :: sidebarFragment}"></aside>
      <!-- /.Main Sidebar Container -->

      <div class="content-wrapper ps-2 pe-2">
        <!-- title area start  -->
        <div class="row p-3">
          <div class="col-12 heading-area">
            <h2>
              <i class="fa-solid"
                ><img
                  src="resources/icons/product-icon2.png"
                  alt="product-icon"
                  style="
                    height: 40px;
                    width: 40px;
                    padding-bottom: 4px;
                    margin-right: 10px;
                  " /></i
              >Product Management
            </h2>
          </div>
        </div>
        <!-- title area end  -->

        <!-- content area start -->
        <div class="accordion" id="accordionSection">
          <!-- add new form area start -->
          <div class="accordion-item" id="addAccordion">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed fw-bold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#addNewSection"
                aria-expanded="false"
                aria-controls="addNewSection"
                id="addNewButton"
              >
                Add New Product
              </button>
            </h2>
            <div
              id="addNewSection"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionSection"
            >
              <div class="accordion-body">
                <div class="card card-body">
                  <form onsubmit="return false">
                    <!-- * required mark -->
                    <div class="row">
                      <div class="col-12 text-end">
                        <span class="fw-bold"
                          ><span class="text-danger">* </span>Required</span
                        >
                      </div>
                    </div>

                    <!-- brand/category/subcategory -->
                    <div class="row mt-2">
                      <!-- brand -->
                      <div class="col-md-3">
                        <label for="selectBrand" class="form-label fw-bold">
                          Brand : <span class="text-danger"> * </span>
                        </label>
                        <select
                          id="selectBrand"
                          class="form-select me-2"
                          required
                        >
                          <option value="" selected disabled>
                            Select Status
                          </option>
                        </select>
                      </div>

                      <!-- add new brand button -->
                      <div class="col-md-1 add-new-option">
                        <label
                          for="btnAddBrand"
                          class="form-label fw-bold"
                          style="color: rgba(255, 255, 255, 0)"
                          >..</label
                        >
                        <button
                          type="button"
                          class="btn btn-plus"
                          id="btnAddBrand"
                          style="display: block"
                          data-bs-toggle="modal"
                          data-bs-target="#addNewBrandModel"
                        >
                          <i
                            class="fa-solid fa-plus me-2"
                            style="margin-left: 8px"
                          ></i>
                        </button>
                      </div>

                      <!-- Add New Brand Modal -->
                      <div
                        class="modal fade"
                        id="addNewBrandModel"
                        data-bs-backdrop="static"
                        data-bs-keyboard="false"
                        tabindex="-1"
                        aria-labelledby="staticBackdropLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title fw-bold">Add New Brand</h5>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                                id="btnCloseNewBrand"
                              ></button>
                            </div>

                            <div class="modal-body">
                              <label
                                for="textNewBrandName"
                                class="form-label fw-bold"
                                >Brand Name :
                              </label>
                              <input
                                type="text"
                                placeholder="Enter Brand Name"
                                class="form-control"
                                id="textNewBrandName"
                              />
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-add"
                                id="btnAddNewBrand"
                              >
                                Add
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Category  -->
                      <div class="col-md-3">
                        <label for="selectCategory" class="form-label fw-bold">
                          Category : <span class="text-danger"> * </span>
                        </label>
                        <select
                          id="selectCategory"
                          class="form-select me-2"
                          required
                        >
                          <option value="" selected disabled>
                            Select Status
                          </option>
                        </select>
                      </div>

                      <!-- add new category button -->
                      <div class="col-md-1 add-new-option">
                        <label
                          for="btnAddCategory"
                          class="form-label fw-bold"
                          style="color: rgba(255, 255, 255, 0)"
                          >..</label
                        >
                        <button
                          type="button"
                          class="btn btn-plus"
                          id="btnAddCategory"
                          style="display: block"
                          data-bs-toggle="modal"
                          data-bs-target="#addNewCategoryModel"
                        >
                          <i
                            class="fa-solid fa-plus me-2"
                            style="margin-left: 8px"
                          ></i>
                        </button>
                      </div>

                      <!-- Add New category Modal -->
                      <div
                        class="modal fade"
                        id="addNewCategoryModel"
                        data-bs-backdrop="static"
                        data-bs-keyboard="false"
                        tabindex="-1"
                        aria-labelledby="staticBackdropLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title fw-bold">
                                Add New Category
                              </h5>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                                id="btnCloseCategory"
                              ></button>
                            </div>

                            <div class="modal-body">
                              <label
                                for="textNewCategoryName"
                                class="form-label fw-bold"
                                >Category Name :
                              </label>
                              <input
                                type="text"
                                placeholder="Enter Category Name"
                                class="form-control"
                                id="textNewCategoryName"
                              />
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-add"
                                id="btnAddNewCategory"
                              >
                                Add
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Sub Category -->
                      <div class="col-md-3">
                        <label
                          for="selectSubCategory"
                          class="form-label fw-bold"
                        >
                          Sub-Category : <span class="text-danger"> * </span>
                        </label>
                        <select
                          id="selectSubCategory"
                          class="form-select me-2"
                          required
                        >
                          <option value="" selected disabled>
                            Select Sub-Category
                          </option>
                        </select>
                      </div>

                      <!-- add new sub-category button -->
                      <div class="col-md-1 add-new-option">
                        <label
                          for="btnAddSubCategory"
                          class="form-label fw-bold"
                          style="color: rgba(255, 255, 255, 0)"
                          >..</label
                        >
                        <button
                          type="button"
                          class="btn btn-plus"
                          id="btnAddSubCategory"
                          style="display: block"
                          data-bs-toggle="modal"
                          data-bs-target="#addNewSubCategoryModel"
                        >
                          <i
                            class="fa-solid fa-plus me-2"
                            style="margin-left: 8px"
                          ></i>
                        </button>
                      </div>

                      <!-- Add New sub-category Modal -->
                      <div
                        class="modal fade"
                        id="addNewSubCategoryModel"
                        data-bs-backdrop="static"
                        data-bs-keyboard="false"
                        tabindex="-1"
                        aria-labelledby="staticBackdropLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title fw-bold">
                                Add New Sub-Category
                              </h5>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                                id="btnCloseSubCategory"
                              ></button>
                            </div>

                            <div class="modal-body">
                              <label
                                for="textNewSubCategoryName"
                                class="form-label fw-bold"
                                >Sub-Category Name :
                              </label>
                              <input
                                type="text"
                                placeholder="Enter Sub-Category Name"
                                class="form-control"
                                id="textNewSubCategoryName"
                              />
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-add"
                                id="btnAddNewSubCategory"
                              >
                                Add
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- product name/unit type -->
                    <div class="row mt-2">
                      <!-- product name -->
                      <div class="col-md-8">
                        <label for="textProductName" class="form-label fw-bold"
                          >Product Name :<span class="text-danger"> * </span>
                        </label>
                        <input
                          type="text"
                          placeholder="Enter Product Name"
                          class="form-control"
                          id="textProductName"
                          required
                        />
                      </div>
                      <!-- unit Type -->
                      <div class="col-md-3">
                        <label for="selectUnitType" class="form-label fw-bold">
                          Unit Type : <span class="text-danger"> * </span>
                        </label>
                        <select
                          id="selectUnitType"
                          class="form-select me-2"
                          required
                        >
                          <option value="" selected disabled>
                            Select Unit Type
                          </option>
                          <option value="Option1">Option 1</option>
                        </select>
                      </div>

                      <!-- add new unit type button -->
                      <div class="col-md-1 add-new-option">
                        <label
                          for="btnAddUnitType"
                          class="form-label fw-bold"
                          style="color: rgba(255, 255, 255, 0)"
                          >..</label
                        >
                        <button
                          type="button"
                          class="btn btn-plus"
                          id="btnAddUnitType"
                          style="display: block"
                          data-bs-toggle="modal"
                          data-bs-target="#addNewUnitTypeModel"
                        >
                          <i
                            class="fa-solid fa-plus me-2"
                            style="margin-left: 8px"
                          ></i>
                        </button>
                      </div>

                      <!-- Add New unit type Modal -->
                      <div
                        class="modal fade"
                        id="addNewUnitTypeModel"
                        data-bs-backdrop="static"
                        data-bs-keyboard="false"
                        tabindex="-1"
                        aria-labelledby="staticBackdropLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title fw-bold">
                                Add New Unit Type
                              </h5>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                                id="btnCloseUnitType"
                              ></button>
                            </div>

                            <div class="modal-body">
                              <label
                                for="textNewUnitName"
                                class="form-label fw-bold"
                                >Unit Type Name :
                              </label>
                              <input
                                type="text"
                                placeholder="Enter Unit Type Name"
                                class="form-control"
                                id="textNewUnitName"
                              />
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-add"
                                id="btnAddNewUnitType"
                              >
                                Add
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- description -->
                    <div class="row mt-2">
                      <div class="col-12">
                        <label
                          for="textProductDescription"
                          class="form-label fw-bold"
                          >Description :
                        </label>
                        <textarea
                          id="textProductDescription"
                          class="form-control"
                          placeholder="Enter Description Here"
                        ></textarea>
                      </div>
                    </div>

                    <!-- ROL/Location/Profit Rate/Status -->
                    <div class="row mt-2">
                      <!-- ROL -->
                      <div class="col-md-3">
                        <label for="textROL" class="form-label fw-bold"
                          >Re-Order Level :
                        </label>
                        <input
                          type="text"
                          placeholder="Enter Re-Order Level"
                          class="form-control"
                          id="textROL"
                        />
                      </div>

                      <!-- location  -->
                      <div class="col-md-3">
                        <label for="textLocation" class="form-label fw-bold"
                          >Location :
                        </label>
                        <input
                          type="text"
                          placeholder="Enter Stored Location"
                          class="form-control"
                          id="textLocation"
                        />
                      </div>

                      <!-- profit rate -->
                      <div class="col md-3">
                        <label for="textProfitRate" class="form-label fw-bold"
                          >Profit Rate % :<span class="text-danger"> * </span>
                        </label>
                        <input
                          type="text"
                          placeholder="Enter Profit Rate"
                          class="form-control"
                          id="textProfitRate"
                          required
                        />
                      </div>

                      <!-- product status  -->
                      <div class="col-md-3" id="statusDiv">
                        <label for="selectStatus" class="form-label fw-bold">
                          Status : <span class="text-danger"> * </span>
                        </label>
                        <select
                          id="selectStatus"
                          class="form-select me-2"
                          required
                        >
                          <option value="" selected disabled>
                            Select Status
                          </option>
                        </select>
                      </div>
                    </div>

                    <!-- buttons -->
                    <div class="row mt-4 justify-content-end">
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-clear"
                          id="btnReset"
                        >
                          <i class="fa-solid fa-recycle me-2"></i>Clear
                        </button>
                      </div>
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-update"
                          id="btnUpdate"
                        >
                          <i class="fa-solid fa-gears me-2"></i>Update
                        </button>
                      </div>
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-add"
                          id="btnAdd"
                        >
                          <i class="fa-solid fa-square-plus me-2"></i>Add
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- add new form area end -->

          <!-- view all table area start -->
          <div class="accordion-item" id="viewAccordion">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed fw-bold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#viewAllSection"
                aria-expanded="false"
                aria-controls="viewAllSection"
                id="viewAllButton"
              >
                View All Products
              </button>
            </h2>
            <div
              id="viewAllSection"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionSection"
            >
              <div class="accordion-body">
                <div class="card card-body p-2">
                  <table class="table table-hover pt-3 mb-3" id="productTable">
                    <thead class="table-dark">
                      <tr>
                        <th>#</th>
                        <th>Barcode</th>
                        <th style="width: 120px">Name</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Sub-Category</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th
                          style="width: 100px; text-align: right"
                          id="modifyButtons"
                        >
                          Modify
                        </th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider"></tbody>
                  </table>
                </div>
                <!-- print full table button -->
                <div class="row mt-2">
                  <button
                    type="button"
                    id="btnPrintFullTable"
                    class="btn btn-info col-md-2 ml-auto me-2"
                  >
                    <i class="fa-solid fa-print"></i>
                    Print All
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- view all table area end -->
        </div>
        <!-- content area end -->
      </div>
      <!-- view record model start -->
      <div class="modal" id="modelProductDetailedView">
        <div class="modal-dialog">
          <div class="modal-content" style="margin: 5px">
            <div class="modal-header">
              <h2 class="fw-bold">View Product Details</h2>
              <button class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <table id="printTable" class="table table-striped">
                <tr>
                  <th>Product Name</th>
                  <td id="tdProductName"></td>
                </tr>
                <tr>
                  <th>Barcode</th>
                  <td id="tdBarcode"></td>
                </tr>
                <tr>
                  <th>Brand</th>
                  <td id="tdBrand"></td>
                </tr>
                <tr>
                  <th>Category</th>
                  <td id="tdCategory"></td>
                </tr>
                <tr>
                  <th>Sub-Category</th>
                  <td id="tdSubCategory"></td>
                </tr>
                <tr>
                  <th>Unit Type</th>
                  <td id="tdUnitType"></td>
                </tr>
                <tr>
                  <th>Description</th>
                  <td id="tdDescription"></td>
                </tr>
                <tr>
                  <th>Re-Order Level</th>
                  <td id="tdROL"></td>
                </tr>
                <tr>
                  <th>Profit Rate(%)</th>
                  <td id="tdProfitRate"></td>
                </tr>
                <tr>
                  <th>Status</th>
                  <td id="tdStatus"></td>
                </tr>
              </table>
            </div>
            <dv class="modal-footer">
              <button id="btnViewPrint" class="btn btn-info">
                <i class="fa-solid fa-print"></i> Print
              </button>
            </dv>
          </div>
        </div>
      </div>
      <!-- view record model end -->
    </div>
    <!-- Alert Box -->
    <div th:replace="~{alertbox :: alertFragment}"></div>
  </body>
</html>
