<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- common heading file -->
    <head th:replace="~{head :: headFragment}"> </head>

    <script src="resources/controller_js/product.js"></script>
  </head>
  <body class="sidebar-mini layout-fixed">
    <div class="container-fluid wrapper ps-2">
      <!-- Navbar -->
      <nav th:replace="~{navbar :: navbarFragment}"></nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside th:replace="~{sidebar :: sidebarFragment}"></aside>
      <!-- /.Main Sidebar Container -->

      <div class="content-wrapper ps-2 pe-2">
        <!-- title area start  -->
        <div class="row p-3">
          <div class="col-12 heading-area">
            <h2><i class="fa-solid fa-hashtag pe-3"></i>Product Management</h2>
          </div>
        </div>
        <!-- title area end  -->

        <!-- content area start -->
        <div class="accordion" id="accordionSection">
          <!-- add new form area start -->
          <div class="accordion-item" id="addAccordion">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed fw-bold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#addNewSection"
                aria-expanded="false"
                aria-controls="addNewSection"
                id="addNewButton"
              >
                Add New Product
              </button>
            </h2>
            <div
              id="addNewSection"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionSection"
            >
              <div class="accordion-body">
                <div class="card card-body">
                  <form onsubmit="return false">
                    <!-- * required mark -->
                    <div class="row">
                      <div class="col-12 text-end">
                        <span class="fw-bold"
                          ><span class="text-danger">* </span>Required</span
                        >
                      </div>
                    </div>
                    <div class="row mt-2">
                      <!-- brand -->
                      <div class="col-md-3 me-4">
                        <label for="selectBrand" class="form-label fw-bold">
                          Brand : <span class="text-danger"> * </span>
                        </label>
                        <select
                          id="selectBrand"
                          class="form-select ms-2 me-2"
                          required
                        >
                          <option value="" selected disabled>
                            Select Status
                          </option>
                          <option value="Option1">Option 1</option>
                          <option value="Option2">Option 2</option>
                        </select>
                      </div>

                      <!-- Category  -->
                      <div class="col-md-3 me-4">
                        <label for="selectCategory" class="form-label fw-bold">
                          Category : <span class="text-danger"> * </span>
                        </label>
                        <select
                          id="selectCategory"
                          class="form-select ms-2 me-2"
                          required
                        >
                          <option value="" selected disabled>
                            Select Status
                          </option>
                          <option value="Option1">Option 1</option>
                          <option value="Option2">Option 2</option>
                        </select>
                      </div>

                      <!-- Sub Category -->
                      <div class="col-md-3 me-4">
                        <label
                          for="selectSubCategory"
                          class="form-label fw-bold"
                        >
                          Sub-Category : <span class="text-danger"> * </span>
                        </label>
                        <select
                          id="selectSubCategory"
                          class="form-select ms-2 me-2"
                          required
                        >
                          <option value="" selected disabled>
                            Select Status
                          </option>
                          <option value="Option1">Option 1</option>
                          <option value="Option2">Option 2</option>
                        </select>
                      </div>
                    </div>
                    <!-- product name -->
                    <div class="row mt-2">
                      <label for="textProductName" class="form-label fw-bold"
                        >Product Name :<span class="text-danger"> * </span>
                      </label>
                      <div class="col-md-12">
                        <input
                          type="text"
                          placeholder="Enter Product Name"
                          class="form-control"
                          id="textProductName"
                          required
                        />
                      </div>
                    </div>
                    <!-- description -->
                    <div class="row mt-2">
                      <div class="col-12">
                        <label
                          for="textProductDescription"
                          class="form-label fw-bold"
                          >Description :
                        </label>
                        <textarea
                          id="textProductDescription"
                          class="form-control"
                          placeholder="Enter Description Here"
                          required
                        ></textarea>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <!-- ROL -->
                      <div class="col-md-4">
                        <label for="textROL" class="form-label fw-bold"
                          >Re-Order Level :
                        </label>
                        <div class="col-md-12">
                          <input
                            type="text"
                            placeholder="Enter Re-Order Level"
                            class="form-control"
                            id="textROL"
                            required
                          />
                        </div>
                      </div>
                      <!-- location  -->
                      <div class="col-md-4">
                        <label for="textLocation" class="form-label fw-bold"
                          >Location :
                        </label>
                        <div class="col-md-12">
                          <input
                            type="text"
                            placeholder="Enter Re-Order Level"
                            class="form-control"
                            id="textLocation"
                            required
                          />
                        </div>
                      </div>
                      <!-- product status  -->
                      <div class="col-md-4">
                        <label for="selectStatus" class="form-label fw-bold">
                          Status : <span class="text-danger"> * </span>
                        </label>
                        <select
                          id="selectStatus"
                          class="form-select ms-2 me-2"
                          required
                        >
                          <option value="" selected disabled>
                            Select Status
                          </option>
                          <option value="Option1">Option 1</option>
                          <option value="Option2">Option 2</option>
                        </select>
                      </div>
                    </div>

                    <!-- buttons -->
                    <div class="row mt-4 justify-content-end">
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-clear"
                          id="btnReset"
                        >
                          <i class="fa-solid fa-recycle me-2"></i>Clear
                        </button>
                      </div>
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-update"
                          id="btnUpdate"
                        >
                          <i class="fa-solid fa-gears me-2"></i>Update
                        </button>
                      </div>
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-add"
                          id="btnAdd"
                        >
                          <i class="fa-solid fa-square-plus me-2"></i>Add
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- add new form area end -->

          <!-- view all table area start -->
          <div class="accordion-item" id="viewAccordion">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed fw-bold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#viewAllSection"
                aria-expanded="false"
                aria-controls="viewAllSection"
                id="viewAllButton"
              >
                View All #
              </button>
            </h2>
            <div
              id="viewAllSection"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionSection"
            >
              <div class="accordion-body">
                <div class="card card-body p-2">
                  <table class="table table-hover pt-3 mb-3" id="tableId">
                    <thead class="table-dark">
                      <tr>
                        <th>#</th>
                        <th>Title 1</th>
                        <th>Title 2</th>
                        <th>Title 3</th>
                        <th>Title 4</th>
                        <th>Title 5</th>
                        <th style="width: 50px; text-align: right">Modify</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                      <tr>
                        <td>1</td>
                        <td>data 1</td>
                        <td>data 2</td>
                        <td>data 3</td>
                        <td>data 4</td>
                        <td>data 5</td>
                        <td class="table-buttons">
                          <button
                            type="button"
                            class="btn btn-outline-success btn-disable"
                          >
                            <i class="fa-solid fa-print"></i>
                          </button>
                          <button
                            type="button"
                            class="btn btn-outline-warning btn-disable ms-2 me-2"
                          >
                            <i class="fa-solid fa-edit"></i>
                          </button>
                          <button
                            type="button"
                            class="btn btn-outline-danger btn-disable"
                          >
                            <i class="fa-solid fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>data 1</td>
                        <td>data 2</td>
                        <td>data 3</td>
                        <td>data 4</td>
                        <td>data 5</td>
                        <td class="table-buttons">
                          <button
                            type="button"
                            class="btn btn-outline-success btn-disable"
                          >
                            <i class="fa-solid fa-print"></i>
                          </button>
                          <button
                            type="button"
                            class="btn btn-outline-warning btn-disable ms-2 me-2"
                          >
                            <i class="fa-solid fa-edit"></i>
                          </button>
                          <button
                            type="button"
                            class="btn btn-outline-danger btn-disable"
                          >
                            <i class="fa-solid fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- view all table area end -->
        </div>
        <!-- content area end -->
      </div>
      <!-- view record model start -->
      <div class="modal" id="modelView">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2>View Product Details</h2>
              <button class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <table id="printTable" class="table">
                <tr>
                  <th>FullName</th>
                  <td id="tdFullName"></td>
                </tr>
                <tr>
                  <th>NIC</th>
                  <td id="tdNIC"></td>
                </tr>
                <tr>
                  <th>Mobile</th>
                  <td id="tdMobile"></td>
                </tr>
                <tr>
                  <th>Status</th>
                  <td id="tdStatus"></td>
                </tr>
              </table>
            </div>
            <dv class="modal-footer">
              <button class="btn btn-info" id="btnViewPrint">Print</button>
            </dv>
          </div>
        </div>
      </div>
      <!-- view record model end -->
    </div>
  </body>
</html>
