<!-- Main Sidebar Container -->
<aside
  class="main-sidebar sidebar-dark-primary elevation-4 position-fixed"
  th:fragment="sidebarFragment"
>
  <!-- Brand Logo -->
  <div class="brand-link">
    <img
      src="resources/images/logo.png"
      alt="Logo"
      style="
        width: auto;
        height: 40px;
        margin-top: -8px;
        margin-left: 10px;
        border-radius: 50%;
      "
    />
    <span class="brand-text font-weight-light"
      ><small>Janaka Hardware</small></span
    >
  </div>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Dashboard -->
        <li class="nav-item user-panel">
          <a href="/dashboard" class="nav-link">
            <i class="nav-icon"
              ><img
                src="resources/icons/dashboard-icon.png"
                alt="dashboard-icon"
                style="height: 24px; width: 24px"
            /></i>
            <p>Dashboard</p>
          </a>
        </li>

        <!-- Invoice -->
        <li class="nav-item user-panel">
          <a href="/invoice" class="nav-link">
            <i class="nav-icon fas"
              ><img
                src="resources/icons/invoice-icon.png"
                alt="invoice-icon"
                style="height: 24px; width: 24px"
            /></i>
            <p>Invoice</p>
          </a>
        </li>
        <!-- customer -->
        <li class="nav-item user-panel">
          <a href="/customer" class="nav-link">
            <i class="nav-icon"
              ><img
                src="resources/icons/customer-icon.png"
                alt="customer-icon"
                style="height: 24px; width: 24px"
            /></i>
            <p>Customer</p>
          </a>
        </li>
        <!-- Product -->
        <li class="nav-item user-panel">
          <a href="/product" class="nav-link">
            <i class="nav-icon"
              ><img
                src="resources/icons/product-icon.png"
                alt="product-icon"
                style="height: 24px; width: 24px"
            /></i>
            <p>Product</p>
          </a>
        </li>
        <!-- Supplier -->
        <li class="nav-item user-panel">
          <a href="/supplier" class="nav-link">
            <i class="nav-icon"
              ><img
                src="resources/icons/supplier-icon.png"
                alt="supplier-icon"
                style="height: 24px; width: 24px"
            /></i>
            <p>Supplier</p>
          </a>
        </li>
        <!-- Purchase Order -->
        <li class="nav-item user-panel">
          <a href="/purchaseorder" class="nav-link">
            <i class="nav-icon"
              ><img
                src="resources/icons/porder-icon.png"
                alt="porder-icon"
                style="height: 24px; width: 24px"
            /></i>
            <p>Purchase Order</p>
          </a>
        </li>
        <!-- GRN -->
        <li class="nav-item user-panel">
          <a href="/grn" class="nav-link">
            <i class="nav-icon"
              ><img
                src="resources/icons/grn-icon.png"
                alt="grn-icon"
                style="height: 24px; width: 24px"
            /></i>
            <p>GRN</p>
          </a>
        </li>
        <!-- stock -->
        <li class="nav-item user-panel">
          <a href="/stock" class="nav-link">
            <i class="nav-icon"
              ><img
                src="resources/icons/stock-icon.png"
                alt="stock-icon"
                style="height: 24px; width: 24px"
            /></i>
            <p>Stock</p>
          </a>
        </li>

        <!-- payments -->
        <li class="nav-item user-panel">
          <a href="#" class="nav-link"
            ><i class="nav-icon fas"
              ><img
                src="resources/icons/payment-icon.png"
                alt="payment-icon"
                style="height: 24px; width: 24px; margin-right: 4px"
            /></i>
            <p>Payments<i class="right fas fa-angle-left"></i></p
          ></a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="" class="nav-link"
                ><i class="far fa-circle nav-icon"></i>
                <p>Invoice Payment</p></a
              >
              <a href="" class="nav-link"
                ><i class="far fa-circle nav-icon"></i>
                <p>Customer Payment</p></a
              >
              <a href="" class="nav-link"
                ><i class="far fa-circle nav-icon"></i>
                <p>User Payments</p></a
              >
              <a href="" class="nav-link"
                ><i class="far fa-circle nav-icon"></i>
                <p>Daily Expenses</p></a
              >
              <a href="" class="nav-link"
                ><i class="far fa-circle nav-icon"></i>
                <p>Daily Extra Income</p></a
              >
            </li>
          </ul>
        </li>
        <!-- Reports -->
        <li class="nav-item user-panel">
          <a href="#" class="nav-link"
            ><i class="nav-icon fas"
              ><img
                src="resources/icons/report-icon.png"
                alt="report-icon"
                style="height: 24px; width: 24px"
            /></i>
            <p>Reports<i class="right fas fa-angle-left"></i></p
          ></a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/reportpurchaseorderui" class="nav-link"
                ><i class="far fa-circle nav-icon"></i>
                <p>Purchase Order Reports</p></a
              >
              <a href="/reportgrnui" class="nav-link"
                ><i class="far fa-circle nav-icon"></i>
                <p>GRN Reports</p></a
              >
              <a href="/reportsalesui" class="nav-link"
                ><i class="far fa-circle nav-icon"></i>
                <p>Sales Reports</p></a
              >
            </li>
          </ul>
        </li>
        <!-- User -->
        <li class="nav-item user-panel">
          <a href="/user" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>User</p>
          </a>
        </li>
        <!-- Privilege -->
        <li class="nav-item user-panel">
          <a href="/privilege" class="nav-link">
            <i class="nav-icon fas fa-lock"></i>
            <p>Privilege</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
<!-- /.Main Sidebar Container -->
