<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- common heading file -->
    <head th:replace="~{head :: headFragment}"> </head>

    <script src="resources/controller_js/supplier.js"></script>
  </head>
  <body class="sidebar-mini layout-fixed">
    <div class="container-fluid wrapper ps-2">
      <!-- Navbar -->
      <nav th:replace="~{navbar :: navbarFragment}"></nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside th:replace="~{sidebar :: sidebarFragment}"></aside>
      <!-- /.Main Sidebar Container -->

      <div class="content-wrapper ps-2 pe-2">
        <!-- title area start  -->
        <div class="row p-3">
          <div class="col-12 heading-area">
            <h2>
              <img
                src="resources/icons/supplier-icon2.png"
                alt="porder-icon"
                class="me-3"
                style="height: 50px; width: 50px"
              />Supplier Managemenet
            </h2>
          </div>
        </div>
        <!-- title area end  -->

        <!-- content area start -->
        <div class="accordion" id="accordionSection">
          <!-- add new form area start -->
          <div class="accordion-item" id="addAccordion">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed fw-bold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#addNewSection"
                aria-expanded="false"
                aria-controls="addNewSection"
                id="addNewButton"
              >
                Add New Supplier
              </button>
            </h2>
            <div
              id="addNewSection"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionSection"
            >
              <div class="accordion-body">
                <div class="card card-body">
                  <form onsubmit="return false">
                    <!-- * required mark -->
                    <div class="row">
                      <div class="col-12 text-end">
                        <span class="fw-bold"
                          ><span class="text-danger">* </span>Required</span
                        >
                      </div>
                    </div>
                    <!-- first name -->
                    <div class="row mt-2">
                      <label
                        for="textFirstName"
                        class="col-md-4 form-label fw-bold"
                      >
                        First Name :<span class="text-danger"> * </span>
                      </label>
                      <div class="col-md-8">
                        <input
                          type="text"
                          placeholder="Enter First Name"
                          class="form-control"
                          id="textFirstName"
                          required
                        />
                      </div>
                    </div>
                    <!-- last name -->
                    <div class="row mt-2">
                      <label
                        for="textLastName"
                        class="col-md-4 form-label fw-bold"
                      >
                        Last Name :
                      </label>
                      <div class="col-md-8">
                        <input
                          type="text"
                          placeholder="Enter Last Name"
                          class="form-control"
                          id="textLastName"
                          required
                        />
                      </div>
                    </div>
                    <!-- contact -->
                    <div class="row mt-2">
                      <label
                        for="textContact"
                        class="col-md-4 form-label fw-bold"
                      >
                        Contact No. :<span class="text-danger"> * </span>
                      </label>
                      <div class="col-md-8">
                        <input
                          type="text"
                          placeholder="Enter Contact No"
                          class="form-control"
                          id="textContact"
                          required
                        />
                      </div>
                    </div>
                    <!-- email -->
                    <div class="row mt-2">
                      <label
                        for="textEmail"
                        class="col-md-4 form-label fw-bold"
                      >
                        Email :
                      </label>
                      <div class="col-md-8">
                        <input
                          type="text"
                          placeholder="Enter Email"
                          class="form-control"
                          id="textEmail"
                          required
                        />
                      </div>
                    </div>
                    <!-- company -->
                    <div class="row mt-2">
                      <label
                        for="textCompany"
                        class="col-md-4 form-label fw-bold"
                      >
                        Company :
                      </label>
                      <div class="col-md-8">
                        <input
                          type="text"
                          placeholder="Enter Company Name"
                          class="form-control"
                          id="textCompany"
                          required
                        />
                      </div>
                    </div>
                    <!-- address -->
                    <div class="row mt-2">
                      <label
                        for="textAddress"
                        class="col-md-4 form-label fw-bold"
                        >Address :
                      </label>
                      <div class="col-md-8">
                        <textarea
                          id="textAddress"
                          class="form-control"
                          placeholder="Enter Address Here"
                          required
                        ></textarea>
                      </div>
                    </div>
                    <!-- Supplier status -->
                    <div class="row mt-2" id="statusDiv">
                      <label
                        for="selectStatus"
                        class="col-md-4 form-label fw-bold"
                      >
                        Supplier Status : <span class="text-danger"> * </span>
                      </label>
                      <select
                        id="selectStatus"
                        class="col-md-2 form-select ms-2 me-2"
                        required
                      >
                        <option value="" selected disabled>
                          Select Status
                        </option>
                        <option value="Option1">Option 1</option>
                      </select>
                    </div>

                    <hr class="seperator" />

                    <!-- product list transfer area start -->
                    <div class="row mt-3">
                      <div class="col-md-12 form-label fw-bold">
                        <p>
                          Select Product List
                          <span class="text-danger"> * </span>
                        </p>
                      </div>
                      <div
                        class="row mb-4 p-2"
                        style="background-color: #d8d8d834; border-radius: 5px"
                      >
                        <p style="color: #858585f5">
                          <i><b>Filter by:</b></i>
                        </p>
                        <!-- brand -->
                        <div class="col-md-3">
                          <label for="selectBrand" class="form-label fw-bold">
                            Brand
                          </label>
                          <select id="selectBrand" class="form-select me-2">
                            <option value="" selected disabled>
                              Select Brand
                            </option>
                          </select>
                        </div>

                        <!-- category -->
                        <div class="col-md-3">
                          <label
                            for="selectCategory"
                            class="form-label fw-bold"
                          >
                            Category
                          </label>
                          <select id="selectCategory" class="form-select me-2">
                            <option value="" selected disabled>
                              Select Category
                            </option>
                          </select>
                        </div>

                        <!-- subcategory -->
                        <div class="col-md-3">
                          <label
                            for="selectSubCategory"
                            class="form-label fw-bold"
                          >
                            Sub-Category
                          </label>
                          <select
                            id="selectSubCategory"
                            class="form-select me-2"
                          >
                            <option value="" selected disabled>
                              Select SubCategory
                            </option>
                          </select>
                        </div>
                        <!-- search button -->
                        <div class="col-md-1">
                          <label
                            for="btnProductSearch"
                            class="form-label fw-bold"
                            style="color: #d8d8d834"
                          >
                            .
                          </label>
                          <br />
                          <button
                            class="btn btn-plus"
                            type="button"
                            id="btnProductSearch"
                          >
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </button>
                        </div>

                        <!-- reset button -->
                        <div class="col-md-1">
                          <label
                            for="btnProductReset"
                            class="form-label fw-bold"
                            style="color: #d8d8d834"
                          >
                            .
                          </label>
                          <br />
                          <button
                            class="btn btn-outline-danger"
                            type="button"
                            id="btnProductReset"
                          >
                            <i class="fa-solid fa-xmark"></i>
                          </button>
                        </div>
                      </div>

                      <!-- all available product list -->
                      <div class="col-md-4">
                        <p><i>All Products</i></p>
                        <select
                          class="form-select"
                          multiple
                          id="selectAllProducts"
                        ></select>
                      </div>
                      <!-- operating buttons -->
                      <div class="col-md-4 text-center">
                        <button
                          type="button"
                          class="btn btn-plus btn-list-transfer"
                          id="btnSingleAdd"
                        >
                          >
                        </button>
                        <br />
                        <button
                          type="button"
                          class="btn btn-plus btn-list-transfer"
                          id="btnAddAll"
                        >
                          >>
                        </button>
                        <br />
                        <button
                          type="button"
                          class="btn btn-plus btn-list-transfer"
                          id="btnSingleRemove"
                        >
                          <
                        </button>
                        <br />
                        <button
                          type="button"
                          class="btn btn-plus btn-list-transfer"
                          id="btnRemoveAll"
                        >
                          <<
                        </button>
                      </div>
                      <!-- supplier selected product list -->
                      <div class="col-md-4">
                        <p><i>Selected Products</i></p>
                        <select
                          class="form-select"
                          multiple
                          id="selectedProducts"
                        >
                          <option value="1">One</option>
                        </select>
                      </div>
                    </div>
                    <!-- product list transfer area end -->

                    <hr class="seperator" />
                    <!-- start bank details area -->
                    <p>
                      <b><i>Bank Details</i></b>
                    </p>
                    <!-- inner form -->
                    <div class="row mt-2">
                      <!-- bank name -->
                      <div class="col-md-3">
                        <label for="textBankName" class="form-label fw-bold">
                          Bank:
                          <span class="text-danger"> * </span>
                        </label>
                        <input
                          type="text"
                          placeholder="Enter Bank Name"
                          class="form-control"
                          id="textBankName"
                          required
                        />
                      </div>

                      <!-- branch name -->
                      <div class="col-md-3">
                        <label for="textBranchName" class="form-label fw-bold">
                          Branch : <span class="text-danger"> * </span>
                        </label>
                        <input
                          type="text"
                          placeholder="Enter Branch Name"
                          class="form-control"
                          id="textBranchName"
                          required
                        />
                      </div>

                      <!-- Acc no -->
                      <div class="col-md-2">
                        <label for="textAccNo" class="form-label fw-bold">
                          Acc No: <span class="text-danger"> * </span>
                        </label>
                        <input
                          type="text"
                          placeholder="Enter Acc No."
                          class="form-control"
                          id="textAccNo"
                          required
                        />
                      </div>

                      <!-- acc holder name -->
                      <div class="col-md-3">
                        <label
                          for="textAccHolderName"
                          class="form-label fw-bold"
                        >
                          Acc Holder Name: <span class="text-danger"> * </span>
                        </label>
                        <input
                          type="text"
                          placeholder="Enter Name"
                          class="form-control"
                          id="textAccHolderName"
                          required
                        />
                      </div>

                      <!-- add bank details button -->
                      <div class="col-md-1">
                        <label
                          for="btnAddBankDetail"
                          class="form-label fw-bold"
                          style="color: rgba(255, 255, 255, 0)"
                          >..</label
                        >
                        <button
                          type="button"
                          class="btn btn-plus"
                          id="btnAddBankDetail"
                          style="display: block"
                        >
                          <i
                            class="fa-solid fa-plus me-2"
                            style="margin-left: 8px"
                          ></i>
                        </button>
                      </div>
                    </div>

                    <!-- inner table -->
                    <div class="row mt-4">
                      <table
                        class="table table-hover pt-3 mb-3"
                        id="bankDetailsTable"
                      >
                        <thead class="table-dark">
                          <tr>
                            <th>#</th>
                            <th>Bank</th>
                            <th>Branch</th>
                            <th>Acc No</th>
                            <th>Acc Holder Name</th>
                            <th style="width: 100px; text-align: right">
                              Modify
                            </th>
                          </tr>
                        </thead>
                        <tbody class="table-group-divider"></tbody>
                      </table>
                    </div>
                    <!-- end bank details area -->

                    <!-- buttons -->
                    <div class="row mt-4 justify-content-end">
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-clear"
                          id="btnReset"
                        >
                          <i class="fa-solid fa-recycle me-2"></i>Clear
                        </button>
                      </div>
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-update"
                          id="btnUpdate"
                        >
                          <i class="fa-solid fa-gears me-2"></i>Update
                        </button>
                      </div>
                      <div class="col-auto text-center">
                        <button
                          type="button"
                          class="btn fw-bold btn-add"
                          id="btnAdd"
                        >
                          <i class="fa-solid fa-square-plus me-2"></i>Add
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- add new form area end -->

          <!-- view all table area start -->
          <div class="accordion-item" id="viewAccordion">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed fw-bold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#viewAllSection"
                aria-expanded="false"
                aria-controls="viewAllSection"
                id="viewAllButton"
              >
                View All Suppliers
              </button>
            </h2>
            <div
              id="viewAllSection"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionSection"
            >
              <div class="accordion-body">
                <div class="card card-body p-2">
                  <table class="table table-hover pt-3 mb-3" id="supplierTable">
                    <thead class="table-dark">
                      <tr>
                        <th>#</th>
                        <th>Supplier Name</th>
                        <th>Company</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th
                          style="width: 80px; text-align: right"
                          id="modifyButtons"
                        >
                          Modify
                        </th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider"></tbody>
                  </table>
                </div>
              </div>
              <!-- print full table button -->
              <div class="row mt-2">
                <button
                  type="button"
                  id="btnPrintFullTable"
                  class="btn btn-info col-md-2 ml-auto me-2"
                >
                  <i class="fa-solid fa-print"></i>
                  Print All
                </button>
              </div>
            </div>
          </div>
          <!-- view all table area end -->
        </div>
        <!-- content area end -->
      </div>
      <!-- view record model start -->
      <div class="modal" id="modelView">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="fw-bold">View Supplier Details</h2>
              <button class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <table id="printTable" class="table table-striped">
                <tr>
                  <th>First Name</th>
                  <td id="tdFirstName"></td>
                </tr>
                <tr>
                  <th>Last Name</th>
                  <td id="tdLastName"></td>
                </tr>
                <tr>
                  <th>Contact</th>
                  <td id="tdContact"></td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td id="tdEmail"></td>
                </tr>
                <tr>
                  <th>Company</th>
                  <td id="tdCompany"></td>
                </tr>
                <tr>
                  <th>Address</th>
                  <td id="tdAddress"></td>
                </tr>
                <tr>
                  <th>Status</th>
                  <td id="tdStatus"></td>
                </tr>
                <tr>
                  <th>Products</th>
                  <td id="tdProducts"></td>
                </tr>
                <tr>
                  <th>Bank Details</th>
                  <td id="tdBankDetails"></td>
                </tr>
              </table>
            </div>
            <dv class="modal-footer">
              <button class="btn btn-info" id="btnViewPrint">Print</button>
            </dv>
          </div>
        </div>
      </div>
      <!-- view record model end -->
    </div>

    <!-- Alert Box -->
    <div th:replace="~{alertbox :: alertFragment}"></div>
  </body>
</html>
